.App {
  font-family: impact;
}

a {
  text-decoration: none;
}

@keyframes appear {
  from {opacity: 0%;}
  to{opacity: 100%;}
}

.name-slider {
  margin-left: 150px;
}

.base-frame {
  display: grid;
  color: white;
  background-color: rgb(1, 10, 43);
}

.header {
  border-bottom: 1px solid white;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: darkslategrey;
  width: 100%;
}

.screen {
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(50, 1fr);
  justify-content: center;
  background-color: rgb(1, 10, 43);
  height: 400px;
  width: 70%;
  margin: 5% 15% 2% 15%;
  animation: appear 2s ease;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  text-align: center;
  height: 400px;
  width: 70%;
  margin: 5% 15% 2% 15%;
  animation: appear 1s ease;
}

.about h3 {
  margin: 10%;
}

.moi {
  background-image: url('./images/20200624_174747.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: blur 1s infinite ease;

}

.skills {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  height: 400px;
  width: 70%;
  margin: 5% 15% 2% 15%;
  animation: appear 1s ease;
}

.projects {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  height: 400px;
  width: 70%;
  margin: 5% 15% 2% 15%;
  animation: appear 1s ease;
}

.contact {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-content: center;
  height: 400px;
  width: 70%;
  margin: 5% 15% 2% 15%;
  animation: appear 1s ease;
}

.git {
  background-image: url('./images/github-11-128.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.linkedin {
  background-image: url('./images/256px-Linkedin_icon.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.mail {
  background-image: url('./images/download-icon-google+mail+icon-1320192249286867468_0.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

/* .github {
  height: 100%;
  width: 100%;
} */

/* @keyframes jiggle {
  0% {transform: scale(100%)}
  50% {transform: scale(110%)}
  100% {transform: scale(100%)}
} */

.kanji {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  transition: transform 500ms, color, 500ms;
}

.kanji:hover {
  transform: scale(175%) translateX(125px) translateY(50px);
  background-color: white;
  color: black;
  z-index: 1;
}

.kanji-pic {
  grid-column: 1;
  background-image: url('./images/Kanji-deathmatch-screen-shot.png');
  background-size: cover;
  border: 1px solid white;
  /* animation: jiggle 2s infinte ease-in-out; */
}


.kanji h4 {
  grid-column: 2;
  margin: 40px 10px;
}

.pineapple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: transform 500ms, color, 500ms;
}

.pineapple:hover {
  transform: scale(175%) translateX(-125px) translateY(50px);
  background-color: white;
  color: black;
  z-index: 1;
}

.pineapple-pic {
  grid-column: 1;
  background-image: url('./images/Pineapple-screenshot.png');
  background-size: cover;
  border: 1px solid white
}

.pineapple h4 {
  grid-column: 2;
  margin: 80px 10px;
}

.windchime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: transform 500ms, color, 500ms;
}

.windchime:hover {
  transform: scale(175%) translateX(125px) translateY(-50px);
  background-color: white;
  color: black;
  z-index: 1;
}

.windchime-pic {
  grid-column: 1;
  background-image: url('./images/Windchimes-screen-shot.png');
  background-size: cover;
  border: 1px solid white;
  margin-top: 5px;
}

.windchime h4 {
  grid-column: 2;
  margin: 70px 10px;
}

.grid-game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: transform 500ms, color, 500ms;
}

.grid-game:hover {
  transform: scale(175%) translateX(-125px) translateY(-50px);
  background-color: white;
  color: black;
  z-index: 1;
}

.grid-pic {
  grid-column: 1;
  background-image: url('./images/Grid-game-screen-shot.png');
  background-size: cover;
  border: 1px solid white;
  margin-top: 5px;
}

.grid-game h4 {
  grid-column: 2;
  margin: 80px 10px;
}



@keyframes snow {
  0% {border-radius: 5%;}
  50% {border-radius: 50%;}
  /* 75% {transform: scale(25%);} */
  100% {border-radius: 5%;}
}

.pixel {
  animation: snow 2s infinite ease-in-out;
  margin: 5%;
}
.pixel:hover {
  transform: scale(400%);
  border: 1px solid black;
  background-color: greenyellow !important;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  height: 10em;
  width: 70%;
  margin: 0 15%;
  background-color: darkslategrey;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 10px;
  margin-bottom: 5%;
}

.button {
  transition: all .25s ease;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(122, 25, 44);
  background-blend-mode: hard-light;
  color: white;
}

.button:hover {
  background-color:greenyellow;
  border-radius: 0;
  color: black
}